[submodule "tldevel"]
	path = tldevel
	url = https://github.com/TimoLassmann/tldevel.git
[submodule "thirdparty/tld"]
	path = thirdparty/tld
	url = https://github.com/timolassmann/tld.git
[submodule "thirdparty/htslib"]
	path = thirdparty/htslib
	url = https://github.com/samtools/htslib.git
